<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Domicilios</title>
</head>
<body>
<h1>Bienvenido al Sistema de Administración de Personas (SAP)</h1>
<div>
    Número de domicilios : {{ no_domicilios }}
</div>
<div>
    <a href="nuevo_domicilio">Agregar Domicilio</a>
</div>
<div>
    <table border="1">
        <thead>
        <tr>
            <th>Id</th>
            <th>Calle</th>
            <th>Numero</th>
            <th>Pais</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for domicilio in domicilios %}
            <tr>
                <td>{{ domicilio.id }}</td>
                <td>{{ domicilio.calle }}</td>
                <td>{{ domicilio.no_calle }}</td>
                <td>{{ domicilio.pais }}</td>
                <td><a href="detalle_domicilio/{{ domicilio.id }}">Ver detalle</a></td>
                <td><a href="editar_domicilio/{{ domicilio.id }}">Editar detalle</a></td>
                <td><a href="eliminar_domicilio/{{ domicilio.id }}">Eliminar</a></td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
</div>
<div>
    <a href="{% url 'index' %}">Volver a inicio</a>
</div>
</body>
</html>